$color-primary: #000;
$color-secondary: #fff;
$color-accent-01: #1A1A1A;
$color-accent-02: #333;
$color-accent-03: #4D4D4D;
$color-accent-04: #666;
$color-accent-05: #808080;
$color-accent-06: #999;
$color-accent-07: #B3B3B3;
$color-accent-08: #CCC;
$color-accent-09: #E6E6E6;
$color-accent-10: #DBDBDB;
$color-accent-11: #F8F8F8;
$color-accent-12: #FCFCFC;
$color-accent-13: #F0F0F0;
$color-state-01: #F50045;
$color-state-02: #00F58E;
$color-state-03: #FFD24F;
$color-state-04: #F000F5;
$color-state-05: #007FF5;